aiogram==2.20
git+https://github.com/cschrupp/backtrader.git#egg=backtrader'
git+https://github.com/cschrupp/btplotting.git#egg=btplotting'
empyrical==0.5.5
ib_insync==0.9.70
pandas==1.4.2
python_json_config==1.2.3
pytz==2022.1
rich==12.4.1
schedule==1.1.0
scipy==1.8.0
setuptools==61.2.0
ibpy2==0.8.0
ibapi==9.81.1post1
